@font-face {
  font-family: "iconfont"; /* Project id 3190849 */
  src: url('iconfont.woff2?t=1645165053403') format('woff2'),
       url('iconfont.woff?t=1645165053403') format('woff'),
       url('iconfont.ttf?t=1645165053403') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-unorderedlist:before {
  content: "\e7f4";
}

.icon-orderedlist:before {
  content: "\e7f5";
}

.icon-link1:before {
  content: "\e6c3";
}

.icon-quote:before {
  content: "\e8cf";
}

.icon-dislike:before {
  content: "\e601";
}

.icon-i-img:before {
  content: "\e616";
}

.icon-alignleft:before {
  content: "\e8a0";
}

.icon-alignright:before {
  content: "\e8a1";
}

.icon-dislike1:before {
  content: "\e84e";
}

.icon-table:before {
  content: "\e72d";
}

.icon-like:before {
  content: "\e69d";
}

.icon-mark:before {
  content: "\e62a";
}

.icon-align-center:before {
  content: "\e609";
}

.icon-code:before {
  content: "\e6f2";
}

.icon-save:before {
  content: "\e762";
}

.icon-save-fill:before {
  content: "\e78b";
}

.icon-yangshi_icon_tongyong_like:before {
  content: "\e663";
}

