@import url(./element.scss);

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #444;
  background: #f0f0f0;
}

.page {
  overflow: auto;
}

.section {
  width: 1200px;
  min-height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
}

.flex,
.flex-v {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.flex-item {
  flex-shrink: 0;
  overflow: auto;
}

.flex-main {
  flex: auto;
  overflow: auto;
}

.no-data {
  padding: 10px;
  text-align: center;
  color: #aaa;
  font-size: 14px;
}

.panel {
  background: #fff;
  margin-bottom: 20px;

  &-header {
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
    color: #333;

    &__title {
      font-size: 14px;
      color: #444;
    }
  }

  &-body {
    padding: 10px;
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 3px;
  background: #fff;
  color: #666;
  border: 1px solid #e0e0e0;
  margin: 5px;
  font-size: 12px;
}

.link {
  color: #59f;
  text-decoration: underline;
  cursor: pointer;
}

.link-plain {
  color: #666;
  text-decoration: none;

  &:hover {
    color: #59f;
    text-decoration: underline;
    cursor: pointer;
  }
}